<!DOCTYPE html>
<html>
<head>
	<title>todoApp Angularjs</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app="todoApp">
	<div id="todoapp" ng-controller="indexController" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
		<div id="header" class="text-center">
			<h1>todos</h1>
		</div>
		<div id="content">
			<div id="content-top">
				<form id="todo-form">
					<input id="todo-checkbox" type="checkbox" ng-show="lstAll.length > 0"  ng-click="addAllCompleted(checkboxAll)" ng-model="checkboxAll" class="glyphicon glyphicon-menu-down" ng-class="checkboxAll == true ? 'checkbox-all' : ''">
					<input id="todo-text" placeholder="What needs to be done?" ng-model="new" ng-keypress="addTodo($event)"  autofocus />
				</form>
			</div>
			<div id="content-middle">
				<div ng-repeat="all in lstAll | filter :typeFilter track by $index" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" class ="items" ng-class="all.checked == true  ? 'items-completed' : 'items-active'">
					<div class="view" ng-show="!showUpdate">
						<input type="checkbox" ng-model="all.checked" ng-click="changeList(all)" />
						<label ng-dblclick="todoUpdate = all.value; showUpdate = true">{{all.value}}</label>
						<span class="glyphicon glyphicon-remove pull-right" ng-click="remove(all)" ng-show="hoverEdit"></span>
					</div>
					<form ng-submit="updateTodo(all, todoUpdate); showUpdate = false" ng-show="showUpdate"> 
						<input type="text" ng-model= "todoUpdate" class="input-update">
					</form>
				</div>
			</div>
			<div id="content-bottom" ng-show="lstAll.length >0">
				<div class="pull-left">{{lstAll.length}} items left</div>
				<div class="pull-left group-select">
					<a href="" ng-repeat="type in lstFilter" ng-model="selectFilter" ng-click="setFilter(type)" ng-class="{selected: status == type}">{{type}}</a>
				</div>
				<div class="pull-right">
					<a href="" ng-show="completedCount > 0" ng-click ="removeAll()">Clear completed</a>
				</div>
			</div>
		</div>
		<div id="footer">d
			<p>Double-click to edit a todo</p>
			<p>Credits:
				<a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
				<a href="http://ericbidelman.com">Eric Bidelman</a>,
				<a href="http://jacobmumm.com">Jacob Mumm</a> and
				<a href="http://blog.igorminar.com">Igor Minar</a>
			</p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</div>
	</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/jquery-3.1.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript">

	angular.module("todoApp", [])
		.controller("indexController", function($scope){
			$scope.lstFilter = ['All', 'Active', 'Completed'];
			$scope.checkboxAll = false;
			$scope.status = 'All';
			$scope.lstCompleted = [];
			$scope.lstAll = JSON.parse(localStorage.getItem('locname') || "[]");
			$scope.addTodo = function(keyEvent){
				var item = {
					value: $scope.new,
					checked: false
				};
				if (keyEvent.which === 13){
					if($scope.new != '' && $scope.new != '	'){
						$scope.lstAll.push(item);
					 	localStorage.setItem('locname', JSON.stringify($scope.lstAll));
    					$scope.new = '';
					}
				}
			}
			$scope.$watch(
				function () {
					$scope.completedCount = 0;
					for(i = 0 ; i < $scope.lstAll.length ; i++){
						if($scope.lstAll[i].checked){
							$scope.completedCount ++;
							$scope.lstCompleted.push($scope.lstAll[i]);
						}
					}
				}
			);

         	$scope.remove = function(item){
         		$scope.lstAll.splice($scope.lstAll.indexOf(item), 1);
         		localStorage.setItem('locname', JSON.stringify($scope.lstAll));
			};

			$scope.hoverIn = function(){
        		this.hoverEdit = true;
   			};

		    $scope.hoverOut = function(){
		        this.hoverEdit = false;
		    };

			$scope.addAllCompleted = function(checked){
		  		for(i = 0 ; i< $scope.lstAll.length ; i++){
		  			if($scope.lstAll[i].checked !== checked){
		  				$scope.changeList($scope.lstAll[i], checked);
		  			}
		  		}
			};
			$scope.changeList = function(item, checked){
				var index = $scope.lstAll.indexOf(item);
		  		if(angular.isDefined(checked)){
		  			$scope.lstAll[index].checked = checked;
		  		}
		  		localStorage.setItem('locname', JSON.stringify($scope.lstAll));
			};
			$scope.updateTodo = function(item, value){
				var indexUpdate = $scope.lstAll.indexOf(item);
				if($scope.lstAll[indexUpdate].value !== value){
					$scope.lstAll[$scope.lstAll.indexOf(item)].value = value;
				}
				localStorage.setItem('locname', JSON.stringify($scope.lstAll));
			}
			$scope.setFilter = function(type){
				$scope.typeFilter = (type === 'Active') ? {checked: false} : 
				(type ==='Completed') ? {checked: true} : {};
				$scope.status = type;
			}
			$scope.removeAll = function(){
				angular.forEach($scope.lstCompleted, function (value, index) {
		            $scope.lstAll.splice($scope.lstAll.indexOf(value), 1);
		        });
		        localStorage.setItem('locname', JSON.stringify($scope.lstAll));
		        $scope.lstCompleted = [];
			};
			
		});
</script>
</body>
</html>